body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#container {
    width: 70%;
    padding: 1em;
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
}
#container h1 {
    font-size: 30px;
}
#container p {
    font-size: 18px;
}